<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
  <link rel="apple-touch-icon" sizes="180x180" href="../../public/assets/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="../../public/assets/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="../../public/assets/favicon-16x16.png">
  <link rel="manifest" href="/site.webmanifest">
  <title>mini-gram</title>
</head>
<body class="bg-purple-100">
  <div class="font-sans">
    <header>
      <nav class="flex flex-wrap items-center justify-between bg-white shadow-md p-4">
        <span class="font-bold text-lg text-">mini-gram</span>
        <div class="flex-auto flex-grow w-auto">
          <a href="#/" class="block mt-4 lg:inline-block lg:mt-0 text-base text-green-400 hover:text-green-900 mr-4">
          Your Posts
          </a>
        </div>
        <div class="flex-auto">
          {{#if loggedIn}}
          <a href="/dashboard">dashboard</a>
          <button id="logout" class="bg-purple-400 hover:bg-white text-sm text-white hover:text-purple-900 font-semibold  py-2.5 px-5 border-pruple-400 border-solid border-2 rounded" >Logout</button>
          {{else}}
          <a href="/login" class="bg-transparent hover:bg-purple-400 border-solid rounded border-2 border-purple-400 hover:border-none text-sm text-purple-400 font-semibold hover:text-white py-3 px-5">Login</a>
          {{/if}}
        </div>
        
      
      </nav>
    </header>
    <main>
      {{{ body }}}
    
    </main>
    <footer>
    </footer>
  </div>
  
</body>
</html>
