<div class="flex justify-center">
  <form class="font-sans bg-white rounded shadow-lg px-6 py-8 w-1/2">
    <h2 class="text-center text-purple-400 text-md font-bold capitalize mb-3">Create New Post</h2>
    <div class="mb-4">
      <label class="block text-left text-grey-800 text-sm font-medium mb-2" for="post-title">Title</label>
      <input class="text-xs w-full mb-2 rounded border bg-gray-100 border-gray-300 px-2 py-2 focus:outline-none focus:border-gray-400 active:outline-none" type="text" placeholder="Post Title" id="post-title" name="post-title" />
    </div>
    <div class="mb-4">
      <label class="block text-left text-grey-800 text-sm font-medium mb-2"for="post-url">Link</label>
      <input class="text-xs w-full mb-4 rounded border bg-gray-100 border-gray-300 px-2 py-2 focus:outline-none focus:border-gray-400 active:outline-none" type="text" placeholder="Link" id="post-url" name="post-url" />
    </div>
    <div class="flex justify-center">
      <button class="bg-purple-400 hover:bg-purple-900 border-solid rounded border-2 border-purple-400 hover:border-purple-900 text-sm text-white font-semibold py-2 px-5" type="submit" class="btn">Create</button>
    </div>
  </form>
</div>

{{#if posts.length}}
<div class="w-full max-w-s">
  <h2 class="text-center text-purple-400 text-md font-bold capitalize mb-3">Your Posts</h2>
  <ol>
    {{#each posts as |post|}}
    <li>
      {{> post-info post}}
      <a href="/dashboard/edit/{{post.id}}" class="edit-link">Edit post</a>
    </li>
    {{/each}}
  </ol>
</div>
{{else}}
<div class="w-full max-w-s">
  <h2 class="text-center text-purple-400 text-md font-bold capitalize mb-3">Your Posts</h2>
  <h3 class="text-center text-grey-800 text-sm font-normal normalcase mt-6 mb-12">- No posts yet -</h3>
</div>
{{/if}}

<script src="/javascript/add-post.js"></script>