<div class="h-screen bg-gray-50 flex flex-col justify-center items-center">
    <div class="bg-white border border-gray-300 w-80 py-8 flex items-center flex-col mb-3">
        <h1 class="bg-no-repeat mini-gram-logo font-sans text-xl text-center">
            Mini Gram 
        </h1>

        <form class="mt-8 w-64 flex flex-col">
            <input autofocus
                class="text-xs w-full mb-2 rounded border bg-gray-100 border-gray-300 px-2 py-2 focus:outline-none focus:border-gray-400 active:outline-none"
                id="email-login" placeholder="email" type="text">
            <input autofocus
                class="text-xs w-full mb-4 rounded border bg-gray-100 border-gray-300 px-2 py-2 focus:outline-none focus:border-gray-400 active:outline-none"
                id="password-login" placeholder="Password" type="password">
            <button type="submit" class=" text-sm text-center bg-blue-300 text-white py-1 rounded font-medium">
                Log In
            </button>
        </form>

        <a class="text-xs text-blue-900 mt-4 cursor-pointer -mb-4">Forgot password?</a>
        
        <form>
            <input autofocus
                class="text-xs w-full mb-2 rounded border bg-gray-100 border-gray-300 px-2 py-2 focus:outline-none focus:border-gray-400 active:outline-none"
                id="email-signup" placeholder="Email" type="text">
        
            <input autofocus
                class="text-xs w-full mb-4 rounded border bg-gray-100 border-gray-300 px-2 py-2 focus:outline-none focus:border-gray-400 active:outline-none"
                id="password-signup" placeholder="Password" type="password">
            <input autofocus
                class="text-xs w-full mb-2 rounded border bg-gray-100 border-gray-300 px-2 py-2 focus:outline-none focus:border-gray-400 active:outline-none"
                id="username-signup" placeholder="Username" type="text">
            <button type="submit" class=" text-sm text-center bg-blue-300 text-white py-1 rounded font-medium">
                Sign Up
            </button>
        </form>
    </div>
</div>



